.success-notification {
  margin: auto;
  min-width: 750px;
  max-width: 900px;
  margin-bottom: 20px;
}

.post-card {
  margin: auto;
  min-width: 750px;
  min-height: 200px;
  max-width: 900px;
}

.comment {
  padding: 20px 24px;
  margin: auto;
  min-width: 750px;
  min-height: 150px;
  max-width: 900px;

  .comment-body {
    padding-left: 54px;
    padding-top: 12px;
    font-size: 14px;
  }
}
